$corTextoSecundario: #fff;

* {
    font-family: sans-serif;
}

.hero {
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent 1%, rgb(24, 23, 23) 15%);
    &__content {
        max-width: 640px;
        position: relative;
        p {
            position: absolute;
            text-align: center;
            color: $corTextoSecundario;
            margin-left: 15vw;
            margin-top: 21vw;
            font-size: 16px;
        }

        .title--small {
            padding-top: 30vw;
            margin-left: 21.5vw;
            position: absolute;
            color: $corTextoSecundario;
            font-size: 24px;
        }

        &__branding {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;
            position: absolute;
            margin-left: 9vw;
            margin-top: 12vw;
            
        }
    }
}

.button {
    text-align: center;
    &__hero__btn {
        background-color: rgb(201, 22, 22);
        color: $corTextoSecundario;
        position: absolute;
        padding: 14px 24px;
        margin-top: 25vw;
        margin-left: 3vw;
        font-size: 26px;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(202, 99, 99);
        }
    }
}

.sobre {

    &__blacksummer__btn {
        &:hover {
            background-color: rgb(124, 114, 114);
        }

        margin-left: 14vw;
        padding: 15px;
        margin-top: 1vw;
        display: block;
        background-color: rgb(71, 61, 61);
        color: $corTextoSecundario;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 18px;
    }
        
    p {
        color: $corTextoSecundario;
        text-align: center;
        padding-top: 15vw;
        margin-left: 28vw;
        position: absolute;
        font-size: 18px;
    }

    h2 {
        margin-top: 28px;
        font-size: 32px;
        padding: 4vw;
        margin-left: 7vw;
        color: $corTextoSecundario;
    }

    &__blacksummer {
        width: 100%;
        max-width: 320px;
        margin-left: 9vw;
        
    }
}

.series {
    &__semelhantes {
        text-align: center;
        font-size: 24px;
        padding: 5vw 0;
        color: $corTextoSecundario;
        margin-top: 32px;
    }

    &__semelhantes__list {
        list-style-type: none;
        gap: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2vw 5.6vw;
        &__semelhantes__list__item {
            img {
            max-width: 100%;
            border-radius: 4px;
            }
        }
    }
}

.last {
    &__item {
        max-width: 90%;
        margin-left: 5vw;
        position: absolute;
        display: flex;
    }

    &__item__text {
        color: $corTextoSecundario;
        position: relative;
        padding: 20vw;
        font-size: 32px;
    }
    p {
        color: $corTextoSecundario;
        position: relative;
        font-size: 18px;
        text-align: center
        
    }
}

.footer {
    &__item {
        max-width: 200px;
        padding: 9vw 0;
        margin-left: 44vw;
    }
    p {
        color: $corTextoSecundario;
        background-color: rgb(167, 22, 22);
        padding: 12px;
        padding-left: 3vw;
    }
}