@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$bgColor: rgb(12, 11, 11);
$corTextoPrincipal: silver;
$corTextoSecundario: #fff;

body {
    background-color: $bgColor;
    overflow-x: hidden;
}





